/* app css stylesheet */
.subjectlist{
padding-top: 96px;

}
.subjectlist .subjectlistitems{
  overflow:hidden;
  overflow-y:scroll;
  max-height: 500px;
}
.keywordlist{
  /*padding-top: 96px;*/
}
.navbar-inverse{
  color: #666;
}
.list-unstyled .frstitm a{
  padding-left: 10px;
  color: #115;
  font-size: 16px;
}
.list-unstyled .list-unstyled a{
}

.list-unstyled .list-unstyled .scnditm a{
  color: #337;
  font-size: 14px;
}
.list-unstyled .list-unstyled .scnditm .glyphicon{
  padding-left: 30px;
  font-size: 14px;
}
.list-unstyled .list-unstyled .thrditm a{

 color: #559;
 font-size: 12px;
}

.list-unstyled .list-unstyled .thrditm .glyphicon{
 padding-left: 50px;
 font-size: 10px;
}
.navbar-fixed-bottom{
  min-height: 16px;
}
boby{
  background-color: #444;
}
.linklist .list-unstyled{
  font-size: 9px;
  overflow:hidden;
  overflow-y:scroll;
  max-height: 500px;
}
/* highlight class for hierarchy */
.panel-default > .panel-heading .highlight{
    background-color: red;
}
.highlight{
  font-weight: bold;
  text-decoration: underline;

}

.keywordlist .select{
  width: 120px

}
/* classes for collapsible hierarchy */
.tree .panel-title {
  font-size: 14px

}
.tree li {
    list-style-type:none;
    margin:0;
    padding:5px 5px 0 5px;
    position:relative

}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
