<body>
  <div class="container">
    <div class="row">
      <div class="subjectlist ">
        <div class="col-md-3">
          <div class="tree well">
            <h2>
              AggroVoc items
            </h2>
            <hr>
            <accordion>
              <accordion-group heading="{{structData.parent.name}}" is-open="false">
                <ul>
                  <li ng-repeat="ditem in structData.parent.narrower">
                    <span><i class="icon-folder-open"></i> {{ditem.name}}</span> <a href=""></a>
                    <accordion-group heading="{{ditem.name}}" is-open="false">
                    <ul>
                      <li ng-repeat="narrowitm in ditem.narrower">
                        <span><i class="icon-minus-sign"></i> {{narrowitm.name}}</span> <a href=""></a>
                        <ul>
                          <li>
                            <span><i class="icon-leaf"></i> Grand Child</span> <a href=""></a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </accordion-group>
                  </li>
                </ul>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
      <div class="keywordlist">
        <div class="col-md-5">
          <div class="well">
            <h2>
              keyword list
            </h2>

            <p>
              linked keywords from GLUES database
            </p>
            <hr>
            <form name="myForm">
              <label for="keywordSelect"> select keyword: </label>
              <select class="keywordselection" name="keywordSelect" id="repeatSelect" ng-model="links.repeatSelect">
                <option ng-repeat="option in links.availableOptions" value="{{option.Name}}">{{option.Name}}</option>
              </select>

            </form>
            <hr>
            <p class="keyselection">{{links.repeatSelect}}</p><br/>
            <input type="button" ng-click="getSelection()" value="Show Datasets" />
          </div>
        </div>
      </div>
      <div class="publist">
        <div class="col-md-4">
          <div class="well">
            <div class="linklist">
              <h2>
                linked datasets
              </h2>
              <hr>
              <div class="linklistitems">
                <ul class="list-unstyled">
                  <li ng-repeat="opt in datasets">
                    <a href="{{opt}}">{{opt}}</a>
                    <hr>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>
<script src="js/collapse.js"></script>
